*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
}

/* HEADER */

header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 6.25rem;
}

header > h1 {
    font-size: 1.5rem;
    font-family: 'Tilt Warp', cursive;
}

header > p {
    font-size: 1.125rem;
}

/* TIMELINE */

.wrapper {
    width: 90%;
    max-width: 1080px;
    margin: 32px auto;
    padding: 0 20px;
    position: relative;
    background-color: aquamarine;
}

.timeline {
    position: absolute;
    height: calc(100% + 20px);
    width: 4px;
    background: black;
    left: 20px;
    top: 20px;
    transform: translateX(-50%);
}

.timeline::after {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    right: calc(50% - 24px);
    background-color: #FF9F55;
    border: 4px solid #FF9F55;
    bottom: -20px;
    border-radius: 50%;
    z-index: 1;
}

.row {
    position: relative;
    display: flex;
    margin-bottom: 20px;
}

.left,
.right {
    justify-content: flex-end;
}

.row > .content {
    background: #fff;
    border-radius: 5px;
    width: calc(100% - 40px);
    padding: 20px;
    position: relative;
}

.row > .content::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    top: 20px;
    z-index: 1;
    transform: rotate(45deg);
}
  
.left > .content::before,
.right > .content::before {
    left: -7px;
}

.row::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    right: calc(100% - 13px);
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

@media (min-width: 600px) {
    
    .timeline {
        left: 50%;
    }
    
    .timeline::after {
        right: calc(50% - 24px);
    }
    
    .left {
        justify-content: flex-start;
    }
      
    .right {
        justify-content: flex-end;
    }
    
    .row > .content {
        width: calc(50% - 40px);
    }
      
    .left > .content::before {
        left: auto;
        right: -7px;
    } 
    
    .right > .content::before {
        left: -7px;
    }
    
    .row::after {
        right: calc(50% - 13px);
    }
    
}